node_modules
.turbo
.next
dist
coverage
.pnpm-store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
pnpm-lock.yaml
apps/api/dist
apps/web/.next
apps/api/node_modules
apps/web/node_modules
packages/*/dist
packages/*/node_modules
apps/api/prisma/migrations
*.log

